.form-control .ql-container .ql-editor img {
  width: 450px !important;
  height: auto;
  padding-bottom: 15px;
}

.car-params {
  display: flex;
  justify-content: space-between;
}

.car-params .form-control {
  padding-left: 10px;
}