<h1 class="text-center">About <span class="abus">Us</span></h1>

<!-- Service center strat -->
<div class="service-center">


    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="about-slider-box simple-slider">

            <img class="d-block w-100" src="../../assets/img/about/{{aboutRand}}.jpg" alt="about">

        </div>
    </div>
    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="about-text">
            <h3>Our Services <span>Include</span></h3>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has make a type specimen</P>
            <ul class="amenities">
                <li>
                    <i class="fa fa-check"></i>Aliquam sem neque, efficitur atero lectus vitae.
                </li>
                <li>
                    <i class="fa fa-check"></i>Pellentesque lacus urna, feugiat consectetur nec.
                </li>
                <li>
                    <i class="fa fa-check"></i>Pellentesque erat libero, eleifend sit amet felis.
                </li>
                <li>
                    <i class="fa fa-check"></i>Maecenas eget consectetur. Vestibulum ligula.
                </li>
                <li class="mb-0">
                    <i class="fa fa-check"></i>Aliquam sem neque, efficitur atero lectus vitae.
                </li>
            </ul>
        </div>
    </div>


</div>
<!-- Service center end -->

<!-- Service center strat -->
<div class="service-center">


    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="about-text">
            <h3>Our Services <span>Include</span></h3>
            <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has make a type specimen</P>
            <ul class="amenities">
                <li>
                    <i class="fa fa-check"></i>Aliquam sem neque, efficitur atero lectus vitae.
                </li>
                <li>
                    <i class="fa fa-check"></i>Pellentesque lacus urna, feugiat consectetur nec.
                </li>
                <li>
                    <i class="fa fa-check"></i>Pellentesque erat libero, eleifend sit amet felis.
                </li>
                <li>
                    <i class="fa fa-check"></i>Maecenas eget consectetur. Vestibulum ligula.
                </li>
                <li class="mb-0">
                    <i class="fa fa-check"></i>Aliquam sem neque, efficitur atero lectus vitae.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="about-slider-box simple-slider">

            <img class="d-block w-100" src="../../assets/img/about/{{aboutRandRight}}.jpg" alt="about">

        </div>
    </div>


</div>
<!-- Service center end -->