form {
  max-width: 600px;
  margin: 0 auto;
}

button {
  margin: 0 auto;
  max-width: 120px;
}

hr {
  margin: 20px 0px;
}

.carousel-edit-view {
  display: flex;
  justify-content: center;
  height: 100%;
}

.caorusel-component {
  text-align: center;
  height: 100%;
  display: inline-block;
}
