<!-- Service section start -->
<section id="servicesec">
    <!-- Main title -->
    <h2 class="main-title text-center">
        <h1>What Are You <span>Looking For</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </h2>

    <div class="service-section content-area">
        <div class="child col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="service-info-2">
                <div class="icon">
                    <img alt="shield" src="../../../../assets/img/896.png"/>
                </div>
                <div class="detail">
                    <h5>Highly Secured</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    <a href="services.html" class="read-more">Read more...</a>
                </div>
            </div>
        </div>
        <div class="child col-lg-3 col-md-6 col-sm-6 col-xs-12 childcen">
            <div class="service-info-2">
                <div class="icon">
                    <img alt="shield" src="../../../../assets/img/964.png"/>
                </div>
                <div class="detail">
                    <h5>Trusted Agents</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    <a href="services.html" class="read-more">Read more...</a>
                </div>
            </div>
        </div>
        <div class="child col-lg-3 col-md-6 col-sm-6 col-xs-12 childcen">
            <div class="service-info-2">
                <div class="icon">
                    <img alt="shield" src="../../../../assets/img/177.png"/>
                </div>
                <div class="detail">
                    <h5>Get an Offer</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    <a href="services.html" class="read-more">Read more...</a>
                </div>
            </div>
        </div>
        <div class="child col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="service-info-2">
                <div class="icon">
                    <img alt="shield" src="../../../../assets/img/299.png"/>
                </div>
                <div class="detail">
                    <h5>Free Support</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    <a href="services.html" class="read-more">Read more...</a>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- Service section end -->