<section class="main-car-css">


    <div *ngIf="carousel$ | async as carousel; else loading">


        <ngb-carousel class="carousel slide carousel-fade">

            <ng-template ngbSlide>

                <app-carousel
                        *ngFor="let carousels of carousel"
                        [carousel]="carousels"
                >

                </app-carousel>
            </ng-template>

        </ngb-carousel>


    </div>

<div
        *ngIf="posts$ | async as posts; else loading"
        class="posts"
>

    <app-car
            *ngFor="let post of posts | slice:0:4"
            [post]="post"
    ></app-car>

    <ng-container *ngIf="showMore">
        <ng-container *ngFor="let post of posts; let ndx = index">
            <span *ngIf="ndx >= 4">
                <app-car
                    [post]="post"
                ></app-car>
            </span>
        </ng-container>
    </ng-container>


</div>
<!--<div [hidden] = "showMore">-->
<button class="btn btn-primary text-center btn-show" [disabled]="showMore" (click)="showMore = true">Показать все
</button>
<!--</div>-->
<app-car-service-info>

</app-car-service-info>

<ng-template #loading>
    <p class="text-center">Загрузка...</p>
</ng-template>

</section>